* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box; 
}

a {
    text-decoration: transparent; 
    color: inherit;
}

:root { 
    --main-color: #924070;
    --second-color: #EE6B41;
    --third-color: #F89E24;


    --big-font: 4.5rem; 
    --h2-font: 3.2rem;
    --p-font: 1.2rem;
    --small-font: 0.5rem;
}

@keyframes loadLine {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

ul {
    margin-bottom: 0;
}   

.title {
    font-family: "Montserrat Alternates", sans-serif;
    display: inline-block;
    margin-bottom: 3%;
}
.title h1::after {
    content: '';
    display: none;
    width: 50%;
    height: 5px;
    margin-left: 25%;
    border-radius: 10px;
    background-color: var(--third-color);
}   
.title.active-title h1::after {
    font-weight: bold;
    display: block;
    animation: loadLine 1s forwards;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: white;
    padding: 10px;
}

section {
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 150px; 
}

#navbar-icon {
    font-size: 25px;
    z-index: 11;
    cursor: pointer;
    display: none;

}

.logo-link {
    display: flex;
    justify-content: center;
}

.logo-link img {
    width: 80%;
    transition: ease .30s;
}

.logo-link img:hover {
    transform: scale(1.2);
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sticky {   
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.525);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-list { 
    display: flex;
    list-style: none;   
    gap: 4rem;
}

.nav-list a {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: var(--p-font);
    color: var(--main-color);
    padding: 10px 20px;
}

.nav-list li {  
    transition: ease .20s;
}

.nav-list li:hover {
    transform: scale(1.2);
}

.nav-link {
    font-weight: 500;
    position: relative; 
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.16rem;
    bottom: 9px;
    left: 25%;
    background-color: var(--third-color);
    transition: width ease 0.80s;
}

.nav-link:hover::after {
    width: 50%;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link.active::after {
    width: 50%;
}

.social-media {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;        
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--main-color);
    font-size: x-large;
    color: white;
    transition: ease .50s;
    text-decoration: none;
}

.social-media a:hover {
    transform: scale(1.2);
}

/* HOME-SECTION */
.home-sec {
    background-image: url('./assets/Wave.png'); /* no-repeat center/cover; */
    background-size: 100% 100%;     
    background-position: center;    
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.home-text {
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    margin-top: 10%;
}

.home-text span {
    font-weight: bold;
    color: #924070;
}

.home-text a {
    background-color: var(--main-color);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 18px;
    margin: 100px 100px;
    font-weight: bold;
    transition: ease .30s;
    text-decoration: none;
}

.home-text a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.425);
}

.about-sec {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
/*     padding: 0 20px; */
}
  
.container-2 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 10%;
    padding-top: 150px; 
}

  
.about-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(146, 64, 112);
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}
  
.about-image {
    width: 40%;
    max-width: 400px;
}
  
.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(146, 64, 112);
}
  
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Muda para layout em coluna em telas menores */
    }
    .about-image {
        width: 100%;
        margin-top: 20px;
    }
}


.carousel {
    width: 80vw;
    height: auto;
}

.aa-sec {
    display: flex;
    justify-content: center;
}

/* Sobre o trabalho */

.sobre-trabalho{
    height: 100vh;
    background-image: url('./assets/Wave.png'); /* no-repeat center/cover; */
    background-size: 100% 100%;     
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;  
    gap: 50px;
    position: relative;
    gap: 50px;
}

.container-sobre-trabalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
     
}

.bloco-trabalho{
    width:200px;
    border-radius: 20px;
    height: 120px;
    background-color: #924070;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bloco-trabalho h2{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 40px; 
}

.ceta{
    display: flex;
    align-items: center;
    justify-content: center;        
    width: 50px;
    height: 50px;
    margin-top: 12%;
    border-radius: 50%;
    background: var(--main-color);
    font-size: x-large;
    color: white;
    transition: ease .50s;
}

.img-sobre-trabalho{
    background-color: #F26457;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
}

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #333;
    color: #fff;
}

.site-footer .title {
    padding: 2%;
}

.site-footer p {
    font-family: var(--font-primary);
    font-size: 1rem;
}

.footer-content {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-info, .footer-form {
    flex: 1;
}

.footer-info h3, .footer-form h3 {
    margin-bottom: 10px;
}

.footer-info p, .footer-form form {
    margin-bottom: 10px;
}

.footer-form form input, .footer-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-form form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-form form button:hover {
    background-color: #0056b3;
}

.footer__copy {
    padding: 0.5rem 0;
    text-align: center;
}


@media(max-width: 768px) {
    #navbar-icon {
        display: block;
        color: var(--main-color);
    }
    .nav-list {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        width: 50%;
        flex-direction: column;
        background: var(--main-color);
        opacity: 0.8;
        text-align: center;
        transition: all .50s;
    }
    .nav-list a {
        display: block;
        padding: 0.8rem;
        color: white;
    }
    .nav-list a:after {
        display: none;
    }
    .nav-list.active {
        top: 100%
    }
    .social-media {
        width: 50%; 
    }
    .social-media a {
        width: 40px;
        height: 40px;
        font-size: medium;
    }
}