* {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-decoration: transparent; 
    color: inherit;
}

:root { 
    --main-color: #924070;
    --second-color: #EE6B41;
    --third-color: #F89E24;


    --big-font: 4.5rem; 
    --h2-font: 3.2rem;
    --p-font: 1.2rem;
    --small-font: 0.5rem;
}

@keyframes loadLine {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

ul {
    margin-bottom: 0;
}   

.title {
    display: inline-block;
    margin-bottom: 3%;
}
.title h1{
    font-family: "Montserrat Alternates", sans-serif
}
.title h1::after {
    content: '';
    display: none;
    width: 50%;
    height: 5px;
    margin-left: 25%;
    border-radius: 10px;
    background-color: var(--third-color);
}   
.title.active-title h1::after {
    font-weight: bold;
    display: block;
    animation: loadLine 1s forwards;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    background: white;
    padding: 10px;
}

section {
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 100px; 
}

#navbar-icon {
    font-size: 25px;
    z-index: 11;
    cursor: pointer;
    display: none;

}

.logo-link {
    display: flex;
    justify-content: center;
}

.logo-link img {
    width: 80%;
    transition: ease .30s;
}

.logo-link img:hover {
    transform: scale(1.2);
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sticky {   
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.525);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-list { 
    display: flex;
    list-style: none;   
    gap: 4rem;
}

.nav-list a {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: var(--p-font);
    color: var(--main-color);
    padding: 10px 20px;
}

.nav-list a:hover {
    color: var(--main-color);
}

.nav-list li {  
    transition: ease .20s;
}

.nav-list li:hover {
    transform: scale(1.2);
}

.nav-link {
    font-weight: 500;
    position: relative; 
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.16rem;
    bottom: 9px;
    left: 25%;
    background-color: var(--main-color);
    transition: width ease 0.80s;
}

.nav-link:hover::after {
    width: 50%;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link.active::after {
    width: 50%;
}

.social-media {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;        
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--main-color);
    font-size: x-large;
    color: white;
    transition: ease .50s;
    text-decoration: none;
}

.social-media a:hover {
    transform: scale(1.2);
}

/* HOME-SECTION */
.home-sec {
    background-image: url('./assets/wave.png'); /* no-repeat center/cover; */
    background-size: 100% 100%;     
    background-position: center;    
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.sec-2 {
    width: 80%;
    gap: 10%;
    padding-top: 150px; 
}
.sec-3 {
    max-width: 100vw;
    margin-top: 5%;
    flex-direction: column;
}

.home-text {
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    margin-top: 10%;
}

.home-text span {
    font-weight: bold;
    color: #924070;
}

.home-text a {
    background-color: var(--main-color);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 18px;
    margin: 100px 100px;
    font-weight: bold;
    transition: ease .30s;
}

.home-text a:hover {
    color: #FFFFFF;
    scale: 1.1;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.425);
}

/* ABOUT-SEC */
.about-sec {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
/*     padding: 0 20px; */
}
  
.about-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(146, 64, 112);
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}
  
.about-image {
    width: 40%;
    max-width: 400px;
}
  
.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(146, 64, 112);
}
  
/* SOBRE JOB */
.sobre-trabalho {
    background-image: url('./assets/wave-2.png'); /* no-repeat center/cover; */
    background-size: 100% 100%;     
    background-position: center;    
    position: relative;
}
.sobre-trabalho .title {
    margin-bottom: 100px;
    color: white;
}

.card-box {
    display: flex; 
    flex-wrap:  nowrap; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 20px;
}
  
.cardd {
    width: 400px; 
    height: 400px;
    margin: 0 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: wheat;
    transition: ease .30s;
}

.card-box .cardd:hover {
    scale: 1.1;
    color: var(--bg-color);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.425);
}

.card-circle {
    position: absolute;
    top: -55px;
    left: calc(50% - 40px);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card-circle i {
    font-size: 20px;
    color: white;
}
  
.card-title {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
}
  
.card h2 {
    color: white;
    margin: 0; 
    font-size: 1.8rem; 
    font-weight: bold; 
}
  
.card-content {
    text-align: center;
}
  
.card-content ul {
    margin-left: 30px;
    font-size: 1rem; 
    text-align: left;
    line-height: 1.6;
    color: #333;
}
  
@media (max-width: 768px) {
    .card-box {
        flex-direction: column;
    }
    .card {
        width: 100%
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .about-image {
        width: 100%;
        margin-top: 20px;
    }
}

.services {
    flex-direction: column;
    align-items: center;
}

.services-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
}

.carousel-control-prev {
  width: 30px;
  height: 30px;
  padding: 0 5px; 
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
}

.carousel-control-next {
  width: 30px;
  height: 30px;
  padding: 0 5px; 
  top: 50%;
  transform: translateY(-50%);
  right: 200px;
}

.carousel button {
    width: 100px;
    height: auto;
    background: var(--main-color);
}

.carousel-card-box {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 0.1fr);
    grid-template-rows: repeat(2, 0.1fr);
    gap: 30px;
    padding: 20px;
}

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #333;
    color: #fff;
}

.site-footer .title {
    padding: 2%;
}

.site-footer p {
    font-family: var(--font-primary);
    font-size: 1rem;
}

.footer-content {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-info, .footer-form {
    flex: 1;
}

.footer-info h3, .footer-form h3 {
    margin-bottom: 10px;
}

.footer-info p, .footer-form form {
    margin-bottom: 10px;
}

.footer-form form input, .footer-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-form form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-form form button:hover {
    background-color: #0056b3;
}

.footer__copy {
    padding: 0.5rem 0;
    text-align: center;
}


@media(max-width: 768px) {
    #navbar-icon {
        display: block;
        color: var(--main-color);
    }
    .nav-list {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        width: 50%;
        flex-direction: column;
        background: var(--main-color);
        opacity: 0.8;
        text-align: center;
        transition: all .50s;
    }
    .nav-list a {
        display: block;
        padding: 0.8rem;
        color: white;
    }
    .nav-list a:after {
        display: none;
    }
    .nav-list.active {
        top: 100%
    }
    .social-media {
        width: 50%; 
    }
    .social-media a {
        width: 40px;
        height: 40px;
        font-size: medium;
    }
}